{% load utilities %}

{% get_uuid_digits as uuid %}

<div class="flex-grow-1 d-flex flex-column card">
    <a class="card-header collapse-arrow-container" type="button" data-target="#card-closable{{uuid}}" data-toggle="collapse" aria-expanded="true" >
        <h2>{{value.title}}</h2>
        <p class="card-text">{{value.description}}</p>
        <i class="fa fa-angle-down fa-2x collapse-arrow inverted"></i>
    </a>
    <div id="card-closable{{uuid}}" class="collapse show">
        <div class="card-body p-0">
        {% block document_content %}{% endblock %}
        </div>
        <div class="card-footer">
        {% block document_footer %}{% endblock %}
        </div>
    </div>
</div>
