Django
django-split-settings
python-dotenv
django-compressor
django-libsass 
Brotli
django-htmlmin
gunicorn
dj-database-url
wagtail
wagtail-metadata
wagtail-blocks
psycopg2
django-tz-detect
wagtailcodeblock
django-taggit
django-taggit-templatetags2
whitenoise[brotli]
django-storages[dropbox]