
@media (hover: hover) {

    .article-listing{
        .overlay{
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top:0;
            bottom:0;
            left: 0;
            right: 0;
        
            visibility: hidden;
            transform: scale(0);
            transition: ease-in-out 0.15s;
        }

        &:hover .overlay{
            visibility: visible;

            transform: scale(1);
            background-color: rgba($color: $light, $alpha: 0.4);
            transition: ease-in-out 0.15s;
            transition-delay: 0.7s;
        }
    }
}

.article-listing{

    max-width: 750px;


    &-thumbnail{
        background-color: $primary;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }

    &-article{


        position: relative;


    }

    
}




