
.project-listing{
    
    &-project{
        @extend .media;
        flex-wrap: wrap;
        background-color: $gray-100;

        img{
            margin-left: auto;
            margin-right: auto;
        }

        &-body{
            @extend .media-body;

        }



    }

}

@include media-breakpoint-up(sm) {
    .project-listing{
            
        &-project{
            &:not(:first-child){
                margin-top:map-get($map: $spacers, $key:2) !important;
            }
            img{
                margin-left: 0 !important;
                margin-right: map-get($map: $spacers, $key:3) !important;
            }

            &-body{
                text-align: left !important;
            }
        }
    }
}