// taken from: https://bootsnipp.com/snippets/Q0ppE
// modified

$color-1n:$primary;
$color-2n:$secondary;
$color-3n:$secondary;
$color-4n:$primary;

$event-bar-color:$gray-200 ;
$event-content-bg: $gray-200;

.main-timeline{overflow:hidden;position:relative}
.main-timeline:after,.main-timeline:before{content:"";display:block;width:100%;clear:both}
.main-timeline:before{content:"";width:3px;height:100%;background:$event-bar-color;position:absolute;top:30px;left:50%}

.main-timeline .event{width:50%;float:left;padding-right:30px;position:relative}
.main-timeline .event-icon{width:32px;height:32px;border-radius:50%;background:#fff;border:3px solid $color-1n;position:absolute;top:5.5%;right:-17.5px}
.main-timeline .year{display:block;padding:10px;margin:0;font-size:30px;color:#fff;border-radius:0 50px 50px 0;background:$color-1n;text-align:center;position:relative}
.main-timeline .year:before{content:"";border-top:35px solid lighten($color: $color-1n, $amount: 10);border-left:35px solid transparent;position:absolute;bottom:-35px;left:0}
.main-timeline .event-content{text-align:left;padding:30px 20px;margin:0 45px 0 35px;background:$event-content-bg}

.main-timeline .title{color:#504f54;margin:0 0 10px}
.main-timeline .description{color:#7d7b7b;margin:0}

.main-timeline .event:nth-child(2n){padding:0 0 0 30px}
.main-timeline .event:nth-child(2n) .event-icon{right:auto;left:-14.5px}
.main-timeline .event:nth-child(2n) .year{border-radius:50px 0 0 50px;background:$color-2n}
.main-timeline .event:nth-child(2n) .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
.main-timeline .event:nth-child(2n) .event-content{text-align:right;margin:0 35px 0 45px}
.main-timeline .event:nth-child(2){margin-top:170px}
.main-timeline .event:nth-child(odd){margin:-175px 0 0}
.main-timeline .event:nth-child(even){margin-bottom:80px}
.main-timeline .event:first-child,.main-timeline .event:last-child:nth-child(even){margin:0}
.main-timeline .event:nth-child(2n) .event-icon{border-color:$color-2n}
.main-timeline .event:nth-child(2n) .year:before{border-top-color:lighten($color: $color-2n, $amount: 10)}
.main-timeline .event:nth-child(3n) .event-icon{border-color:$color-3n}
.main-timeline .event:nth-child(3n) .year{background:$color-3n}
.main-timeline .event:nth-child(3n) .year:before{border-top-color:lighten($color: $color-3n, $amount: 10)}
.main-timeline .event:nth-child(4n) .event-icon{border-color:$color-4n;}
.main-timeline .event:nth-child(4n) .year{background:$color-4n;}
.main-timeline .event:nth-child(4n) .year:before{border-top-color:lighten($color: $color-4n, $amount: 10)}


@media only screen and (max-width:767px){.main-timeline{overflow:visible}
.main-timeline:before{top:0;left:0}
.main-timeline .event:nth-child(2),.main-timeline .event:nth-child(even),.main-timeline .event:nth-child(odd){margin:0}
.main-timeline .event{width:100%;float:none;padding:0 0 0 30px;margin-bottom:20px!important}
.main-timeline .event:last-child{margin:0!important}
.main-timeline .event-icon{right:auto;left:-14.5px}
.main-timeline .year{border-radius:50px 0 0 50px}
.main-timeline .year:before{border-left:none;border-right:35px solid transparent;left:auto;right:0}
.main-timeline .event-content{margin:0 35px 0 45px}
}
