*:hover > i.hoverable-icon{
    background:$input-btn-focus-color
}

.p {
    font-family:$font-family-base;
    line-height: inherit;
    font-size: inherit;
}


.remove-bottom-round{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}



.overflow-full-width{
    position: relative;
    right: calc((100vw - 100%)/2);
    width: 100vw;
}

.absolute-side-right{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.absolute-bottom-right{
    position: absolute;
    right:0;
    bottom: 0;
}