*:hover > i.hoverable-icon{
    background:$input-btn-focus-color
}

.p {
    font-family:$font-family-base;
    line-height: inherit;
    font-size: inherit;
}


.remove-bottom-round{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}