{% extends "website/bases/page_base.html" %}
{% load utilities %}
{% load wagtailcore_tags%}
{% load wagtailimages_tags %}

{% block head %}
{% image page.header.background_image max-1920x1080 as header_bg_image %}
<link rel="preload" href="{{header_bg_image.url}}" as="image" type="image/*">
{% endblock %}

{% block content %}
    <div class="d-flex flex-column min-vh-100">
        <div class="d-flex flex-column {% if page.header.fill_view_height %}vh-100{% endif %}">
        {% include "website/snippets/navbars/navbar_default.html" %}
        
        {% include "website/snippets/headers/header_default.html" %}
        </div>
    {% block content_inside %}
    {% endblock %}
    </div>

    {% include "website/snippets/footers/footer_default.html"%}
{% endblock %}