{% load wagtailimages_tags %}
{% load compress %}

{% if page.header %}
<div class="overflow-hidden jumbotron jumbotron-fluid text-center img-background-container {%if not page.header.background_image %}color-only{% endif %} d-flex flex-column  mb-0 {% if page.header.fill_view_height%} flex-grow-1 {% endif%}" >

    {% image page.header.background_image max-1920x1080 class="img-background rellax" data-rellax-speed="-15" data-rellax-xs-speed="-10" data-rellax-mobile-speed="-10" data-rellax-tablet-speed="-10" data-rellax-desktop-speed="-15" %}

    <div class="container my-auto">
        <h1 class="display-4">{{ page.specific.header.heading }}</h1>
        <p class="lead">{{page.header.lead_paragraph}}</p>
    </div>

    {% if page.header.include_slide_down_sign%}
    <div id="scroll-vanish" class="d-flex flex-column justify-content-between" style="height:100px;">
        <h4>{{page.header.slide_down_text}}</h4>
        <i class="fa fa-chevron-down fa-2x float-up-down" aria-hidden="true"></i>
    </div>
    {% compress js inline %}
    <script>
    document.addEventListener('DOMContentLoaded', (event) => {       
        var vanished = false;
        var height = $( window ).height() * 0.4;
        var prompts = ["You can scroll again if you want &#128521","Again?"]
        var scroll_no = 0
        $(window).scroll(function(){
            //added ending ) after height
            if ( !vanished && $(this).scrollTop() > height)  {
                vanished = true;
                $("#scroll-vanish").fadeTo("slow",0);
            } else if (vanished && $(this).scrollTop() <= height ){
                vanished = false;
                $("#scroll-vanish").fadeTo("slow",1);
                var elem = $("#scroll-vanish")
                var elem_header =  elem.children().filter(":header")
               elem_header.html(prompts[scroll_no])
               scroll_no += 1
               scroll_no = scroll_no % prompts.length
            }
        });
    })
    </script>
    {% endcompress %}
    {% endif %}
</div>
{% endif %}