{% extends "website/bases/navigation_base.html"%}
{% load utilities %}
{% load wagtailcore_tags %}
{% load tz%}
{% load wagtailimages_tags %}

{% block content_inside %}
    <div class= "container-sm article-container p-4 p-sm-5 text-center shadow-lg flex-grow-1 ">
        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb mb-0 mx-0">
                {% get_page_ancestors_without_root page as breadcrumbs %}
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item"><a class="text-decoration-none" href="{% pageurl breadcrumb %}">{{breadcrumb.title}}</a></li>
                {% endfor %}
                <li class="breadcrumb-item active " aria-current="page">{{page.short_title}}</li>
            </ol>
        </nav>
        <div class="article  ">
            <header class="article-header">
                
                <h1 class="display-4">{{page.title}}</h1>
                <div class="text-muted">

                    {% localtime on %}
                    <span class="badge badge-light font-weight-normal"><b>Author: </b>{% if page.owner.first_name and page.owner.last_name%}{{page.owner.first_name}} {{page.owner.last_name}}{% else %}{{page.owner.username}}{% endif%}</span>
                    <span class="badge badge-light font-weight-normal"><b>Last Updated: </b>{{page.last_published_at}}</span>
                    {% block article_badges %}{% endblock%}
                    {% endlocaltime %}
                
                </div>
                {% image page.featured_image original class="article-thumbnail img-fluid  img-thumbnail"%}

                <h2 class="p">{{page.blurb|richtext}}</h2>

            </header>
            
            <hr class="article-divider"/>

            <div class="article-body" >
            {% for article_item in page.article_items %}
                    {% include_block article_item %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

