{% extends "website/bases/navigation_base.html"%}
{% load wagtailcore_tags %}
{% load static %}

{% block content_inside %}
    <div class= "container-sm h-100 px-0 text-center shadow-lg d-flex flex-column flex-grow-1 justify-content-start">
        {% for block in page.freeform_items %}
            {% if block.block_type == "text" %}
                <div class ="px-4">
                {% include_block block %}
                </div>
            {% else %}
            
                {% include_block block %}
            
            {% endif %}
            
            {% if not forloop.last %}
                <hr/>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
