{% extends "website/bases/navigation_base.html"%}
{% load wagtailcore_tags %}
{% load static %}

{% block content_inside %}
    <div class= "container-xl vh-100 px-0 text-center shadow-lg d-flex flex-column flex-grow-1 justify-content-around">
        <div id="resume-holder" class="p-5 h-100 d-flex flex-column justify-content-center">
            
            <p class="p-5">Your browser doesn't support embedded PDF's, help yourself with a download below:</p>
            <a class="btn btn-primary  align-self-center mb-5" href="{{ page.resume.url }}">Download PDF</a>
       
        </div>
        <p class="text-muted mb-5" >should the embedded document fail to show and the fallback not trigger <a href={{page.resume.url}}>click here</a></p>
    </div>

    <style>
    .pdfobject {
        height:100vh !important;
    }
    </style>
    
{% endblock %}



{% block compressed_scripts %}
<script src="{%static "pdfobject/pdfobject.min.js" %}" type="text/javascript"></script>
<script>
PDFObject.embed("{% url "view_document" page.resume.id page.resume.filename %}", "#resume-holder");
$(document).ready(function(){
    $(".pdfobject").addClass("border border-light rounded");
})
</script>
{% endblock %}

