
.article{
    text-align: left;
}

$article-lg-spacer: map-get($map: $spacers, $key:5);
$article-md-spacer: map-get($map: $spacers, $key:4);
$article-sm-spacer: map-get($map: $spacers, $key:3);

.article-header{
    padding-top: $article-lg-spacer;
    padding-bottom: $article-lg-spacer; 
}

.article-thumbnail ~ .article-header{
    padding-top: 0;
    padding-bottom: 0;
}

.article-header .article-thumbnail{
    margin-top: $article-sm-spacer;
    margin-bottom: $article-sm-spacer;
}

.article-thumbnail{
    background-color: $primary;
    margin-top: $article-lg-spacer;
    margin-bottom: $article-lg-spacer;
}

.article-header ~ hr.article-divider{
    margin-top: 0;
    margin-bottom: $article-lg-spacer;
}

.article-header p:last-of-type{
    margin-bottom: 0;
}

.article-container{
    max-width: 750px;
}
.article-listing-container{
    max-width: 750px;
}

.article-tags {
    line-height: 1.8rem;
    font-size: 1.2rem;
}

.article-listing-thumbnail{
    background-color: $primary;
}

.article-listing-article{
    position: relative;
}

.article-listing-article .overlay{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;

    visibility: hidden;
    transform: scale(0);
    transition: ease-in-out 0.15s;
}
.article-listing-article:hover .overlay{
    visibility: visible;

    transform: scale(1);
    background-color: rgba($color: $light, $alpha: 1);
    transition: ease-in-out 0.15s;
    transition-delay: 0.7s;

}



