
@keyframes float {
	0% {
		transform: translatey(0px);
    }
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

.float-up-down {
    transform: translatey(0px);
	animation: float 2s ease-in-out infinite
}


.collapse-arrow{
    transition: all linear 0.2s;
    transform:rotate(0deg);
}
.collapse-arrow.active{
    transform: rotate(180deg);
}

.collapse-arrow.inverted{
    transform:rotate(180deg);
}
.collapse-arrow.inverted.active{
    transform:rotate(0deg);
}