@import "personal_site/css/main.scss";

@include media-breakpoint-up(sm) {

  }
  
@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {

}

*:hover > i.hoverable-icon{
    background:$input-btn-focus-color
}


.underbar-container {
    position: relative;
}

.underbar{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    height:5px;
    background-color: $secondary;
    transform:scaleX(0);
    transition:all 0.3s ease-in-out;
}

.underbar-container:hover .underbar{
    visibility: visible;
    background-color: $secondary;
    transform:scaleX(1);

}

.underbar-container.active .underbar{
    visibility: visible;
    transform:scaleX(1);
}
