{% load wagtailcore_tags %}

<div class="timeline py-5"  
    {% if side %}
        {% if side == "left"%}
        data-aos="fade-right"
        {% else %}
        data-aos="fade-left"
        {% endif%}
    {% else %}
        data-aos="fade-left" 
    {% endif%}    
    data-aos-offset="500"
>
    {% if value.title %}
    <span class="timeline-icon"></span>
    <span class="year">{{ value.title }}</span>
    {% endif %}
    <div class="timeline-content ">
    {% for item in value.items %}
        {% include_block item %}
    {% endfor %}
    </div>
</div>

