{% load wagtailcore_tags %}

<div class="event py-5"  
    {% if side %}
        {% if side == "left"%}
        data-aos="fade-right"
        {% else %}
        data-aos="fade-left"
        {% endif%}
    {% else %}
        data-aos="fade-left" 
    {% endif%}    
    data-aos-offset="500"
>
    <span class="event-icon"></span>
    {% if value.date %}
    <span class="year">{{ value.date }}</span>
    {% endif %}
    <div class="event-content">
        <h4 class="title">{{value.header}}</h3>
        <p class="description"> {{value.lead_paragraph}} </p>
    </div>
</div>
